body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS */
.progress {
  width: 100%;
  background-color: #ddd; /* Color for the progress container */
  border-radius: 4px;
  height: 20px; /* Height of the progress container */
}

.progress-bar {
  height: 100%; /* Full height of the progress bar */
  background-color: #007bff; /* Color for the progress bar */
  border-radius: 4px;
  text-align: center;
  color: white;
  transition: width 0.5s ease; /* Optional: Add a smooth animation to the width change */
}

@tailwind base;
@tailwind components;
@tailwind utilities;